extends layout 
block content 
    div(class="row")
        div(class="col")
            h1(class="title") The Team:
            h2(class="title") console.log("Olá Mulheres");                
        div(class="col")
            div(class="card card1")
                h5(class="aless") Alessandro
                    p Almeida 
            div(class="card card2")
                h5(class="diogo") Diogo
                    p Ramos
            div(class="card card3")
                h5(class="joao-cruz") João
                    p Cruz
            div(class="card card4")
                h5(class="joao-ferr") João
                    p Ferreira
            div(class="card card5")
                h5(class="miguel") Miguel
                    p Queirós
            div(class="card card6")
                h5(class="pedro") Pedro 
                    p Escarpiado