extends layout 

block content 
    div(class="button-bar")
        button(class="button-song", id="btn", onclick="audio.play();", type="button") 𝄞 Play song 𝄞
    div(class="row")
        div(class="col")
            h1 Estás Mal Onde Estás?
            p Estás no lugar certo 

            button(class="button1", type="button", onclick="window.location.href = 'index'") START
