doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= 'Estou Álem'
        link(rel='stylesheet', href= cssFile)
        link(rel='shortcut icon', href='/images/icon.webp')

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lemon&display=swap", rel="stylesheet")

    body 

    div(class="container")
        div(class="navbar")
            nav 
                ul 
                    li(class="li1", type="button", onclick="window.location.href = 'home'")
                        a1 HOME
                    li(class="li2", type="button", onclick="window.location.href = 'creators'")
                        a2 REVIEWS 
                    li(class="li1", type="button", onclick="window.location.href = 'creators'")
                        a3 CREATORS
            img(src="Logo_AVariacoes-01_A_400x400_white.png", class="logo", alt="Website logo")
        block content

